force-app/main/default/flows/Start_Conversation_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MbStartConversation</name>
        <label>Start Conversation</label>
        <locationX>226</locationX>
        <locationY>1094</locationY>
        <actionName>StartConversationAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConversationStarted</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference
        >Get_Chosen_Channel.Identifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MessageText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Telegram_ID</name>
        <label>Assign Telegram ID</label>
        <locationX>358</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactTelegramId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MbStartConversation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Telegram_ID_0</name>
        <label>Assign Telegram ID</label>
        <locationX>94</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.TelegramID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MbStartConversation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >Decides what to do next depending on the platform chosen by the end-user.</description>
        <name>Contact_contains_identifier</name>
        <label>Contact contains identifier</label>
        <locationX>424</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telegram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Chosen_Channel.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telegram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_ID</targetReference>
            </connector>
            <label>Telegram</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_s_Telegram_ID_defined</name>
        <label>Contact&apos;s Telegram ID defined?</label>
        <locationX>226</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>TelegramIdNotDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact.TelegramID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactWithProvidedId</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConversationExists</name>
        <label>Conversation exists?</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Create_conversation_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCvExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Try_to_find_conversation_with_this_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewCvReadyScr</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConversationStarted</name>
        <label>Conversation started?</label>
        <locationX>226</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Contact_s_Telegram_ID_defined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCvStarted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >MbStartConversation.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_related_channel_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ID</name>
        <label>Has ID?</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>MissingIdentifierTelegramScr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact.TelegramID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Telegram_ID_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveChannelsChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ConversationChannel__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel
  >Start Conversation (Template) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Start Conversation (Template)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_conversation_record</name>
        <label>Create conversation record</label>
        <locationX>138</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>NewCvReadyScr</targetReference>
        </connector>
        <inputAssignments>
            <field>ChannelRef__c</field>
            <value>
                <elementReference>AvailableChannels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConversationId__c</field>
            <value>
                <elementReference
        >MbStartConversation.conversationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedEntityRef__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_related_channel_record</name>
        <label>Create related channel record</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference
      >Try_to_find_conversation_with_this_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>ChannelRef__c</field>
            <value>
                <elementReference>AvailableChannels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecipientId__c</field>
            <value>
                <elementReference>recipientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedEntityRef__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContactChannel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Chosen_Channel</name>
        <label>Get Chosen Channel</label>
        <locationX>424</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AvailableChannels</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConversationChannel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_contains_identifier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_to_find_conversation_with_this_ID</name>
        <label>Try to find conversation with this ID</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConversationExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConversationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >MbStartConversation.conversationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactWithProvidedId</name>
        <label>Update the contact&apos;s ID</label>
        <locationX>94</locationX>
        <locationY>2246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TelegramID__c</field>
            <value>
                <elementReference>ContactTelegramId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>MissingIdentifierTelegramScr</name>
        <label>Missing Recipient&apos;s Identifier</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Telegram_ID</targetReference>
        </connector>
        <fields>
            <name>TelegramIdNeeded</name>
            <fieldText
      >&lt;p&gt;To message someone on Telegram you need their identifier (Telegram ID). Please provide its code below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactTelegramId</name>
            <dataType>String</dataType>
            <fieldText>Telegram ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarningTextTelegram</name>
            <fieldText
      >&lt;p&gt;Note: To start a conversation with someone on Telegram they need to message us first. If they already did, then your conversation will be accessible too.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewCvReadyScr</name>
        <label>New Conversation Is Ready</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_s_Telegram_ID_defined</targetReference>
        </connector>
        <fields>
            <name>CvReadyText</name>
            <fieldText
      >&lt;p&gt;You new conversation with {!Get_Contact.Name} is ready.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Conversation ID: {!MbStartConversation.conversationId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartConversationScr</name>
        <label>Start a conversation</label>
        <locationX>424</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Channel</targetReference>
        </connector>
        <fields>
            <name>AvailableChannels</name>
            <choiceReferences>ActiveChannelsChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available channels</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MessageText</name>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Start conversation!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartConversationScr</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
